/* @import url("./fonts.css"); */


.header{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 15%;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    text-align: center;
}

.game-header{
    font-size: 8.5vw;
    text-align: center;

}

.eduplay-header {
    background: rgb(39, 139, 254);
    background: linear-gradient(0deg, rgba(39, 139, 254, 1) 0%, rgba(255, 1, 221, 1) 100%);
    font-size: 24px;
    font-family: FontDingerSwanky;
    text-align: center;
}


.jeopardy-header {
    background: var(--jp-bg-color);
    font-family: FontDingerSwanky;
    color: black;
    text-shadow: -1px -1px 0 #FF13F0, 1px -1px 0 #FF13F0, -1px 1px 0 #FF13F0, 1px 1px 0 #FF13F0;
}

.hangman-header {
    background: var(--hm-bg-color);
    font-family: Wood;
    color: white;
}
