/* Fonts import */
@import url("./fonts.css");


@media only screen 
and (max-device-width: 1000px)
{ 

    body{
        background-color: rgb(24, 24, 24);
        height: 100%;
        color:rgb(255, 255, 255);
        font-family: InterBold;
    }

    .header{
        background: rgb(39,139,254);
        background: linear-gradient(0deg, rgba(39,139,254,1) 0%, rgba(255,1,221,1) 100%);
        font-size: 24px;
        font-family: FontDingerSwanky;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 12%;
        padding-right: 0;
        padding-bottom: 5px;
        padding-left: 0;
        text-align: center;
    }
      
    
    .panel{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .top-segment {
        flex:55;
        border-bottom-width: 2px;
        border-bottom-color: white;
        border-bottom-style: solid;
    }
    
    .bottom-segment{
        flex:45;
    }


    .upper-recent-section {
        display: flex;
        flex-direction: row;
        font-family: InterBold;
    }

    .formArea{
        margin-top: 15%;
        position:relative;

    }

    .recentLabel {
        font-size: 18px;
        flex:4;
        margin-top: 15px;
        margin-left: 10px;
    }

    .view-all-button {
        margin-right: 10px;
        background-color: rgb(44, 44, 44);
        border-radius: 10px;
        border-style: none;
        font-size: 16px;
        font-family: InterBold;
        color: rgb(255, 255, 255);
        margin-top: 3%;
        flex:1;
    }

    .join-textbox {
        padding-left: 12px;
        padding-top: 6px;
        padding-bottom: 4px;
        border-radius: 5px;
        border-style:solid ;
        font-size: 18px;
        background-color: rgb(36, 36, 36);
        color: rgb(163, 163, 163);
        margin-top: 22px;
        position: absolute;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        width: 90vh;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .name-label{
        display: inline-flex;
        flex:1;
        margin-bottom: 5px;
        margin-left: 40px;


    }

    .character-countdown{
        display: inline-flex;
        flex:1;
        margin-left: 59%;
        margin-bottom: 5px;
    }
    .textbox-heading{
        display: flex;
        flex: row;
    }

}
